$fontColor: #0091aa;
$colorHeading: #be4a14;
body
{ 
    text-align: center;
    padding: 150px;
    font: 20px Helvetica, sans-serif;
    color: #333;
}
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    font-size: 35px;
}

h1{
    @extend h2;
    font-size: 50px;
}
article
{ 
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto; 
}
a 
{ 
    color: #dc8100;
    text-decoration: none;
}
a:hover
{ 
    color: #333;
    text-decoration: none;
}

ul {
	background-color: #584f4d;
	border:none;
	padding: 0;
	margin: 0;}

li {
	background-color: #ec8b68;
	color: #fff;
	border-top: 1px solid #fe9772;
	border-bottom: 1px solid #9f593f;
	font-size: 24px;
	letter-spacing: .05em;
	list-style-type: none;
	text-shadow: 2px 2px 1px #9f593f;
    height: 50px;
	padding-left: 1em;
    padding-top: 10px;}
    
.usundt {
    background-color: red;
    color: #fff;
    text-shadow: 2px 2px 1px black;
    border-top: 1px solid #e99295;
    border-bottom: 1px solid #914141;}

.sundt {
    background-color: #6cc0ac;
    color: #fff;
    text-shadow: 2px 2px 1px black;
    border-top: 1px solid #7ee0c9;
    border-bottom: 1px solid #3b6a5e;}
